{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "baseUrl": ".",
    "paths": {
      "@app/*": ["./app/*"],
      "@config/*": ["./config/*"],
      "@utils/*": ["./utils/*"],
      "@middlewares/*": ["./middlewares/*"],
      "@views/*": ["./views/*"]
    },
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}